@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --bg-main: #f8fafc;
    --text-main: #0f172a;
  }

  .dark {
    --bg-main: #020617;
    --text-main: #f8fafc;
  }
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.2s ease, color 0.2s ease;
  overflow-x: hidden;
}